<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://personal-botsas-letsgologin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>personal-botsas-letsgologin.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>personal-botsas-letsgoLogIn</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$personal-botsas-letsgoLogIn</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="projectdb" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:afdemp-coding-bootcamp.database.windows.net,1433;Initial Catalog=personal-botsas-letsgoLogIn_db;User ID=afdempc@afdemp-coding-bootcamp;Password=A1F2D3empC" Name="Data Source=tcp:afdemp-coding-bootcamp.database.windows.net,1433;Initial Catalog=personal-botsas-letsgoLogIn_db;User Id=afdempc@afdemp-coding-bootcamp;Password=A1F2D3empC" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SHURIMA\SQLEXPRESS;Initial Catalog=GroupTravel;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\projectdb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=SHURIMA\SQLEXPRESS;initial catalog=GroupTravel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql">
            <Source Path="InsertUsersQuery(Theo 31-10).sql" Transacted="False" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)projectdb-Web.config Connection String">
      <ParameterValue>data source=tcp:afdemp-coding-bootcamp.database.windows.net,1433;initial catalog=personal-botsas-letsgoLogIn_db;user id=afdempc@afdemp-coding-bootcamp;password=A1F2D3empC;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>